body {
    background: #363635;
    border: solid 5px #363635;
}

.top-left {
    background: #AC3931;
}

.top-center {
    background: #FCAA67;

}

.top-right {
    background: #E8C547;
}

.profile-image {
    display: block;
    height: 200px;
    width: 200px;
    margin: auto;
    border-radius: 50%;
    border: solid 1px #363635;
    /*Filter effect*/
    /*Source: http://www.codeblocq.com/2016/08/Turn-an-image-to-Black-and-White-on-hover-with-CSS/*/
    filter: grayscale(100%);
    transition: filter .5s ease-in-out;
}

.profile-image:hover {
    filter: grayscale(0%);
}

.middle-left {
    background: #ED9B40;
    min-height: 35px;
}

.middle-center {
    background: #E8E8E8;
    min-height: 600px;
}

.middle-right {
    background: #03CEA4;
    min-height: 35px;
}

.bottom-left {
    background: #CCE2A3;
}

.bottom-center {
    background: #4062BB;
    min-height: 35px;
}

.bottom-right {
    background: #52489C;
}

.sashing {
    border: solid 5px #363635;
}