body {
    background: #363635;
    border: solid 5px #363635;
}

.sashing {
    border: solid 5px #363635;
}

/*Top-left box: brand bar*/

.top-left {
    background: #AC3931;
}

.brand-bar {
    background: #363635;
    color: #E8C547;
}

.brand-bar:nth-of-type(odd) {
    border-radius: 5px 5px 0 0;
}

.brand-bar:nth-of-type(even) {
    border-radius: 0 0 5px 5px;
}

/*Top-center box: color blocking*/

.top-center {
    background: #FCAA67;
    min-height: 35px;
}

/*Top-right box: profile image*/

.top-right {
    background: #E8C547;
}

.profile-image {
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: solid 1px #363635;
    /*Filter effect*/
    /*Source: http://www.codeblocq.com/2016/08/Turn-an-image-to-Black-and-White-on-hover-with-CSS/*/
    filter: grayscale(100%);
    transition: filter .5s ease-in-out;
}

.profile-image:hover {
    filter: grayscale(0%);
}

/*Middle-left box: Nav Bar*/

.middle-left {
    background: #ED9B40;
    min-height: 35px;
}

nav ul {
    /*background: red;*/
}

/*nav ul {*/
/*    margin: 1em auto;*/
/*}*/

.navbar-item {
    background: #363635;
    font-size: 1.75em;
}

.navbar-item a {
    color: #E8C547;
}

.navbar-item:nth-of-type(odd) {
    border-radius: 5px 5px 0 0;
}

.navbar-item:nth-of-type(even) {
    border-radius: 0 0 5px 5px;
}

/*Middle-center box: Viewport*/
    /*Dynamic elements styled at bottom of style-sheet*/

.middle-center {
    background: #E8E8E8;
    height: 425px;
    overflow: auto;
}

/*Middle-right box: color blocking*/

.middle-right {
    background: #03CEA4;
    min-height: 35px;
}

/*Bottom-left box: social media icons*/

.bottom-left {
    background: #CCE2A3;
}

/*Bottom-center box: color blocking*/

.bottom-center {
    background: #4062BB;
    min-height: 35px;
}

/*Bottom-right box: color blocking*/

.bottom-right {
    background: #52489C;
    min-height: 35px;
}

/*Styling of dynamic elements*/

    /*Styling of project portfolio cards*/

#portfolio-list {
    color: #E8C547;
}

.port-header {
    background: #363635;
    border-radius: 5px 5px 0 0;
    text-align: center;
}

.port-header * {
    padding: 5px;
}

.port-image-container {
    background: #363635;
    /*margin: 5px 0;*/
    margin-bottom: 8px;
}

.port-image {
    width: 400px;
    height: 100%;
    padding: 10px;
    display: block;
    margin: auto;
}

.port-description {
    background: #363635;
    border-radius: 0 0 5px 5px ;
}

.port-description p {
    padding: 5px 10px;
}

    /*Styling of "Background" section items*/

blockquote {
    background: #363635;
    color: #E8C547;
    border-radius: 5px;
    padding: 10px 20px;
    /*margin: 0 8px 16px;*/
    margin: 0 .5em 1em;
}

/*Media Queries for Breakpoints*/

@media (max-width: 768px) {
    #custom #navbar-list {
        flex-direction: row;
    }

    #custom .navbar-item {
        font-size: 1em;
        border-radius: 5px;
        margin: 0 5px;
    }

    #custom .profile-image {
        height: 150px;
        width: 150px;
    }

}

@media (max-width: 499px) {

    #custom .profile-image {
        height: 100px;
        width: 100px;
    }

    #contact-info-list {
        font-size: 1.25em;
    }

    #custom .port-image {
        width: 300px;
        margin: auto;
    }

}