header {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-row {
    display: flex;
    justify-content: center;
}

.card {
    height: 200px;
    width: 200px;
    background-color: forestgreen;
    border-radius: 5px;
    border: 2px solid black;
    margin: 10px;
    background-size: 100% 100%;
}

img {
    display: none;
    width: 100%;
    height: 100%;
}

#new-game-button {
    width: 300px;

    font-size: 1.5em;
    border-radius: 5px;
    margin-top: 1em;
    text-align: center;
}